/* App.css */
/* Slick slider CSS imports */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* General page settings */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(
      135deg, /* Diagonal gradient */
      rgba(128, 0, 0, 0.8) 20%, /* Royal Mahroon (80% opacity) */
      rgba(255, 241, 185, 1) 80%, /* #FFF1B9 */
      rgba(173, 216, 230, 0.5) /* Light Blue (stream-wave effect) */
  );
  background-size: 200% 200%; /* Expands the background size for gradient effect */
  animation: gradientShift 15s ease infinite; /* Optional animation for dynamic effect */
  color: #232323; /* Dark Gray for text */
}

@keyframes gradientShift {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

/* Ensure the body covers the entire viewport */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* Main wrapper for the entire app */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px; /* Padding around the entire app */
  box-sizing: border-box; /* Ensure padding is included in the total width/height */
}

/* Space around header */
header {
  margin: 10px; /* Space below header */
}

/* Space around footer */
footer {
  margin-top: 20px; /* Space above footer */
}

/* Loader Styles */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff1b9f0; /* Semi-transparent background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other content */
  transition: opacity 1s ease-out, visibility 1s ease-out; /* Smooth transition */
}

#loader img {
  max-width: 50%; /* Adjust as needed */
  animation: zoomIn 1.5s forwards; /* Zoom-in effect */
}

@keyframes zoomIn {
  0% {
    transform: scale(1.5); /* Start zoomed in */
    opacity: 1;
  }
  100% {
    transform: scale(1); /* End at normal size */
    opacity: 1;
  }
}

/* Hide the loader after the page is loaded */
body.loaded #loader {
  opacity: 0; /* Fade out the loader */
  visibility: hidden;
  transition: opacity 1s ease-out, visibility 1s ease-out; /* Smooth transition */
}

/* Auth prompt styling */
.auth-prompt {
  text-align: center; /* Center the text horizontally */
  margin: 10px; /* Add vertical spacing around the prompt */
  padding: 10px; /* Add some padding inside the prompt box */
  border-radius: 8px; /* Rounded corners */
  color: #232323; /* Dark gray text color */
}

/* Style for the text inside the auth prompt */
.auth-prompt-text {
  font-size: 1.1rem; /* Adjust font size */
  color: #d9534f; /* Red color for emphasis */
  margin: 0; /* Reset margin for the paragraph */
}
